@model IEnumerable<TeamMngt.Models.User>

<h1>Panel Zarządzania Użytkownikami</h1>
<p>
    <a asp-action="Create">Dodaj nowego użytkownika</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
                        @Html.DisplayNameFor(model => model.Haslo)
                        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
         <td>
                        @Html.DisplayFor(modelItem => item.Nazwa)
                    </td>
        <td>

            @Html.DisplayFor(modelItem => item.Haslo)

        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Nazwa">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.Nazwa">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>
