@model TeamMngt.Models.Projekt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projekt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRozpoczecia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRozpoczecia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<h4></h4>
<h4>Moduły należące do projektu:</h4>
<table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Data Rozpoczęcia</th>
                <th>Deadline</th>
                <th>Opis</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var modul in Model.ModulyProjektu)
        {
            <tr>
                <td>@modul.Nazwa</td>
                <td>@modul.DataRozpoczecia.ToString()</td>  
                <td>@modul.Deadline.ToString()</td>
                <td>@modul.Opis</td>
            </tr>
        }
        </tbody>
        </table>
