
@model IEnumerable<TeamMngt.MoreClasses.ProjektDetailsViewModel>  

@{
    ViewData["Title"] = "Index";
}

<h1>Twoje Projekty</h1>

<p>
    <a asp-action="Create">Utwórz nowy Projekt</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Projekt.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projekt.DataRozpoczecia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projekt.Deadline )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projekt.Opis)
        </th>
        <th>
            Godziny robocze przewidziane na Projekt
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var projekt in Model)  
    {
        <tr>
            <td>
                @projekt.Projekt.Nazwa
            </td>
            <td>
                @projekt.Projekt.DataRozpoczecia 
            </td>
            <td>
                @projekt.Projekt.Deadline 
            </td>
            <td>
                @projekt.Projekt.Opis 
            </td>
            <td>
                @projekt.ŁącznyCzasWykonania 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@projekt.Projekt.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@projekt.Projekt.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@projekt.Projekt.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>